body {
  background-color: #f0f2f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: aqua;
  border-bottom: 1px solid #ddd;
}
