.bg-comment {
    background-color: #e4e6e9;
    border-radius: 35px;
    padding: 10px 8px;
}

.comment-interaction {
    font-size: .8em;
    color: #757678;
    margin-left: 8px;
}

.nested-true-3 {
    margin-left: 2.5em;
}
.nested-true-1 {
    margin-left: 1.5em;
}
.view-replies {
    margin-left: 8px;
    font-size: .9em;
}

.comment-reply {
    border-radius: 25px!important;
    width: 100%;
    
  
}

.no-margin-padding-left {
    margin-left: 0px;
    padding-left: 0px;
}

.comment-submit {
    margin-top: 18px;
    margin-left: -45px;
}