.leftPanel{
    background-color: white;
}
h2{
    font-weight: bolder;
}
.btn-input {
    background-color: #f0f2f5;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-weight: 600;
  }
  
  .btn-input:hover {
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
    color: white;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }
  
  .file-input {
    display: none;
  }